*{
	margin:0;
	color:#fff;
	/*font-family: 'Cabin', sans-serif;*/
	font-family: "Raleway", sans-serif;
}
body{
	height: 100vh;
	background-image: url(https://www.w3schools.com/w3images/forestbridge.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100%;
}
header{
	height:10vh;
	display: flex;
	justify-content: space-between;
	padding: 5px
}
ul{
	list-style: none;
	display: flex;
}
li{
	padding:10px;
}
li:hover{
	font-size: 20px;
	cursor: pointer;
}
h2{
	padding: 10px;
}
main{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width:40%;
	text-align: center;
}
footer{
	height: 10vh;
	padding: 10px;
}
h1{
	font-size: 64px;
	text-align: center;
}
hr{
	width:20%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}